.main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.main-footer .img {
    height: 50px;
    width: 50px;
}
.main-footer .logo{
    margin-bottom: 15px;
}

.main-footer .title{

    color: var(--color-third);
    font-size: 15px;

}