.centro{
display: flex;
justify-content: center;
align-items: center;

}



body{

    background-color: #679267;
}

/* -------------------------------- */
/* Cor de linhas hr  */
hr{
    height: 1px;
    background-color: white;
}

.preta{
    border-color: black;
}

.branca{
    border-color: white;
}