@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {

    --ps: 10px;
    --tab: 50px;
    --color-third:#dadada;
}

.marg{
    padding-left: var(--ps);

}

.table_marg{
    padding-left: var(--tab);

}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h {
    background-color: #23252b;
}

#menu-h ul {

    list-style: none;
    padding: 0;
}

#menu-h ul li {

    display: inline;
}

#menu-h ul li a {
    color: #dadada;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(13, 79, 201);
}



.centro {
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    color: white;
    background-color: #101010;

}

/* -------------------------------- */
/* Cor de linhas hr  */
hr {
    height: 1px;
    background-color: white;
}

.preta {
    border-color: black;
}

.branca {
    border-color: white;
}