*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --ps:300px;


}

body{

    background-color: whitesmoke
}

.navbar{
    background-color: #051932;
    color: white;
    /* padding-left: var(--ps); */
    padding-right: var(--ps);
    padding-top: 30px;
    padding-bottom: 30px;
   

}
.navbar_nav{

    margin-top: 12px;
}
.navbar_link{

    text-decoration: none;
    color: white;
}
/* .banner_back_color{
